@model RedeSocial_infnet.Service.ViewModel.PerfilViewModel;


<div class="container mt-4">
    <h3 class="text-center">Perfil de @Model.Usuario.UserName</h3>
    @if (@Model.Usuario.FotoPerfilByte != null)
    {
        <div style="display: flex; justify-content: center;">
            <img src="data:image;base64,@(Convert.ToBase64String(@Model.Usuario.FotoPerfilByte))" style="max-width: 100px; max-height: 100px; border-radius: 50%; object-fit: cover;" />
        </div>
    }

    <table class="table table-striped">
        <tbody class="text-center">
            <tr>
                <td><strong>E-mail:</strong></td>
                <td>@Model.Usuario.Email</td>
            </tr>
            <tr>
                <td><strong>Localidade:</strong></td>
                <td>@Model.Usuario.Localidade</td>
            </tr>
            <tr>
                <td><strong>Área desejada no TI:</strong></td>
                <td>@Model.Usuario.AreaMigracao</td>
            </tr>

        </tbody>
    </table>
</div>
    
    @if (Model.Usuario.UserName == ViewBag.UserName)
    {
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
            @Html.ActionLink("Editar o seu Perfil", "Editar", "Auth", new { userName = Model.Usuario.UserName })
        </button>
         <button type="button" class="btn btn-outline-primary">
                @Html.ActionLink("Nova postagem", "NovoPost", "Post")
        </button>
    </div>
    }


</div>
<br />
<br />

<h4 class="text-center">Postagens</h4>
<hr />


<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                Título
            </th>
            <th>
                Postagem
            </th>
            <th>
                Usuário
            </th>
            <th>
                Imagem:
            </th>
            <th>
                Postado em:
            </th>
            <th>
                Ações:
            </th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conteudo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (item.Imagem != null)
                    {
                        <img src="data:image;base64,@(Convert.ToBase64String(item.Imagem))" style="max-width: 100px; max-height: 100px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
                {
                @if (item.UserName == Model.UsuarioLogado)
                {
                    <td>
                        <form action="@Url.Action("ExcluirPost", "Post", new { id = item.Id })" method="post" onsubmit="return confirm('Tem certeza que deseja excluir essa postagem?')">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="mdc-button mdc-button--raised mdc-button--danger mdc-ripple-upgraded" data-mdc-auto-init="MDCRipple">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Excluir</span>
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
<br />
<br />

<br />
<br />


